<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.padcmyanmar.thiha.thelibraryapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TheLibraryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.TheLibraryApp">
        <activity
            android:name=".activities.SearchBookActivity"

            android:exported="false" />
        <activity
            android:name=".activities.AddToShelfActivity"
            android:exported="false"/>

        <activity
            android:name=".activities.ShelfDetailsActivity"
            android:exported="false"/>

        <activity
            android:name=".activities.AboutThisBookActivity"
            android:exported="false"/>

        <activity
            android:name=".activities.MoreEbookActivity"
            android:exported="true"/>

        <activity
            android:name=".activities.CreateNewShelfActivity"/>

        <activity
            android:name=".activities.BookDetailsActivity"/>

        <activity
            android:name=".activities.MainActivityWithBottomNav"
            android:exported="true"
       >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>